{
  "openapi": "3.0.0",
  "info": {
    "title": "API PdCidadão",
    "description": "Documentação API rest do PdCidadão",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://desenvolvimento.prodataweb.inf.br:8008/sigAparecida",
      "description": "API de test"
    },
    {
      "url": "https://prodata.prodataweb.inf.br/sig",
      "description": "API para pegar alguns dados de configuração"
    }
  ],
  "basePath": "/",
  "paths": {
    "/rest/loginController/validarLoginParaModuloPublico?modulo=servicosonline": {
      "get": {
        "summary": "Retorna dados do modulo público - servicosonline",
        "description": "Retorna o nome da empresa - servicosonline",
        "tags": ["Prodata"],
        "parameter": [{}],
        "responses": {
          "200": {
            "description": "A list of pets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/resultModuloPublico"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/paramController/getNomeEmpresa": {
      "get": {
        "summary": "Retorna o nome da prefeitura",
        "description": "Retorna o nome da prefeitura",
        "tags": ["Core"],
        "parameter": [{}],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/paramController/getDadosDoAplicativoDaEmpresa": {
      "get": {
        "summary": "Retorna os dados relaciodada a configuração do app",
        "description": "",
        "tags": ["Core"],
        "parameter": [{}],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/transparenciaAjudaSicController/getConfiguracoesMobile": {
      "get": {
        "summary": "Retorna os codigos pré-definidos de assuntos",
        "description": "",
        "tags": ["Core"],
        "parameter": [{}],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/assuntoController/pesquisarMobile": {
      "post": {
        "summary": "Retorna Assuntos",
        "description": "",
        "tags": ["Core"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PesquisarMobile"
              },
              "examples": {
                "data": {
                  "value": {
                    "tabela": {},
                    "is_servicos_online": "S",
                    "limitarPesquisa": false,
                    "isPesquisaMobile": true,
                    "isApenasAtivo": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoUsuarioController/validarLogin": {
      "post": {
        "summary": "Login do usuário",
        "description": "",
        "tags": ["Auth"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoSolicitacoesController/salvarUsuario": {
      "post": {
        "summary": "Regitrar novo usuário",
        "description": "",
        "tags": ["Auth"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/registerUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/solicitacaoOuvidoriaController/getListaDeSolicitacoesMobile": {
      "post": {
        "summary": "Pesquisar por solicitação",
        "description": "",
        "tags": ["Portal do Cidadão"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataSearchSolicitacao"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/transparenciaAjudaSicController/salvarSolicitacaoMobile": {
      "post": {
        "summary": "Criar uma nova solicitação",
        "description": "",
        "tags": ["Portal do Cidadão"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataCreateSolicitacao"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/transparenciaAjudaSicController/salvarVideoAnexoSolicitacaoMobile": {
      "post": {
        "summary": "Salvar video na solicitação",
        "description": "",
        "tags": ["Portal do Cidadão"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        }
      }
    },
    "/rest/mobileController/getBairros": {
      "post": {
        "summary": "Buscar por bairro",
        "description": "",
        "tags": ["Endereços"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/mobileController/getLogradouros": {
      "post": {
        "summary": "Buscar por Logradouro",
        "description": "",
        "tags": ["Endereços"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoOnlineTelaProcessoDigitalController/consultarCep": {
      "post": {
        "summary": "Buscar o endereço por CEP",
        "description": "",
        "tags": ["Endereços"],
        "parameters": [
          {
            "name": "cep",
            "in": "query",
            "description": "CEP",
            "require": true
          }
        ],

        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/feiraFilaBancaCcpPontoController/salvarRegistro": {
      "post": {
        "summary": "Registra o ponto do feirante",
        "description": "",
        "tags": ["Feirante"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataPontoFeirante"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicoContribuinteController/getDebitosDoContribuinte": {
      "post": {
        "summary": "Consulta os débitos do contribuintes",
        "description": "",
        "tags": ["Impostos e taxas"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataSearchDebitos"
              }
            }
          }
        }
      }
    },
    "/rest/pd-cidadao-relatorio/imprimir": {
      "post": {
        "summary": "Retorna o boleto do Duam",
        "description": "",
        "tags": ["Impostos e taxas"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/imprimirDuam"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicoContribuinteController/atualizaDividaContribuinte": {
      "post": {
        "summary": "Atualiza as dividas do contribuinte",
        "description": "",
        "tags": ["Impostos e taxas"],
        "parameters": [
          {
            "name": "ccp",
            "in": "query",
            "description": "Codigo do contribuinte",
            "require": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicoContribuinteController/pesquisarDebitos": {
      "post": {
        "summary": "Retorna todas os débitos do contribuinte",
        "description": "",
        "tags": ["Impostos e taxas"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataCCP"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoOnlineTelaConsultaDebitosController/pesquisar": {
      "post": {
        "summary": "Retorna todas os débitos do contribuinte",
        "description": "",
        "tags": ["Debitos"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/searchDebitos"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicoContribuinteController/getInscricoesDoContribuinte": {
      "post": {
        "summary": "Retorna a inscrição do Contribuinte",
        "description": "",
        "tags": ["Debitos"],
        "parameters": [
          {
            "name": "ccp",
            "in": "query",
            "description": "Codigo do contribuinte",
            "require": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoOnlineController/getListaBotoesMobile": {
      "post": {
        "summary": "Retorna todos os serviços cadastrados para solicitações dinâmicas",
        "description": "",
        "tags": ["Solicitações Dinâmicas"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoConfiguracaoAlvaraConstrucaoController/getCamposMobile": {
      "post": {
        "summary": "Retorna a campos cadastrados para cada solicitações dinâmicas",
        "description": "",
        "tags": ["Solicitações Dinâmicas"],
        "parameters": [
          {
            "name": "idConfiguracao",
            "in": "query",
            "description": "Codigo do serviço",
            "require": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoSolicitacoesController/salvarSolicitacaoMobile": {
      "post": {
        "summary": "Salva a solicitações dinâmicas",
        "description": "",
        "tags": ["Solicitações Dinâmicas"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dataSolicitacaoDinamicas"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/rest/servicosCidadaoSolicitacoesController/salvarVideoSolicitacaoMobile": {
      "post": {
        "summary": "Salva o video na solicitações dinâmicas",
        "description": "",
        "tags": ["Solicitações Dinâmicas"],
        "parameters": [
          {
            "name": "protocolo",
            "in": "query",
            "description": "Codigo do protocolo cadastrado para a solicitação",
            "require": true
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {}
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PesquisarMobile": {
        "type": "object",
        "properties": {
          "tabela": { "type": "object" },
          "is_servicos_online": { "type": "string" },
          "limitarPesquisa": { "type": "boolean" },
          "isPesquisaMobile": { "type": "boolean" },
          "isApenasAtivo": { "type": "boolean" }
        }
      },
      "registerUser": {
        "type": "object",
        "properties": {
          "foto": { "type": "string" },
          "cpf_cnpj": { "type": "string" },
          "nome_solicitante": { "type": "string" },
          "senha": { "type": "string" },
          "telefone": { "type": "string" },
          "email": { "type": "string" },
          "data_nascimento": { "type": "string" },
          "cidade": { "type": "string" },
          "bairro": { "type": "string" },
          "logradouro": { "type": "string" },
          "tipo_acesso_usuario": { "type": "number" }
        }
      },
      "login": {
        "type": "object",
        "properties": {
          "cpfCnpj": { "type": "string" },
          "senha": { "type": "string" }
        }
      },
      "dataSearchSolicitacao": {
        "type": "object",
        "properties": {
          "cd_solicitacao": { "type": "number" },
          "nr_cpf": { "type": "string" },
          "isMobile": { "type": "boolean" },
          "id_usuario_esic": null,
          "tela": { "type": "string" }
        }
      },
      "dataCreateSolicitacao": {
        "type": "object",
        "properties": {
          "tipo": { "type": "string" },
          "cd_assunto": { "type": "number" },
          "cd_subassunto": { "type": "number" },
          "observacao": { "type": "string" },
          "cpf": { "type": "string" },
          "foto1": { "type": "string" },
          "foto2": { "type": "string" },
          "foto3": { "type": "string" },
          "foto4": { "type": "string" },
          "foto5": { "type": "string" },
          "latitude": { "type": "number" },
          "longitude": { "type": "number" },
          "nome": { "type": "string" },
          "nomeMae": { "type": "string" },
          "dataNascimento": { "type": "string" },
          "sexo": { "type": "string" },
          "celular": { "type": "string" },
          "email": { "type": "string" },
          "cd_bairro": { "type": "number" },
          "cd_logra": { "type": "number" },
          "quadra": { "type": "string" },
          "lote": { "type": "string" },
          "complemento": { "type": "string" }
        }
      },
      "dataSearchDebitos": {
        "type": "object",
        "properties": {
          "tela": { "type": "string" },
          "cnpj": { "type": "string" },
          "cpf": { "type": "string" },
          "inscricao": { "type": "string" },
          "ccp": { "type": "string" },
          "cci": { "type": "string" },
          "informarDuamEmDividaAtiva": { "type": "boolean" },
          "tokenMobile": { "type": "string" }
        }
      },
      "imprimirDuam": {
        "type": "object",
        "properties": {
          "$identificacaoRelatorio": { "type": "string" },
          "ccp": { "type": "number" },
          "dataPagamento": { "type": "string" },
          "duam": { "type": "number" },
          "nomeEmpresa": { "type": "string" },
          "parcela": { "type": "number" },
          "siteEmpresa": { "type": "string" }
        }
      },
      "dataCCP": {
        "type": "object",
        "properties": {
          "ccp": { "type": "number" }
        }
      },
      "dataPontoFeirante": {
        "type": "object",
        "properties": {
          "feira_fila_banca_ccp_id": { "type": "number" },
          "longitude": { "type": "number" },
          "latitude": { "type": "number" },
          "codigo_celular": { "type": "string" }
        }
      },
      "resultModuloPublico": {
        "type": "object",
        "properties": {
          "codigoUsuario": { "type": "number" },
          "tipoUsuario": { "type": "string" },
          "login": { "type": "string" },
          "orgaoProtocolo": { "type": "string" },
          "origemProtocolo": { "type": "string" },
          "cpfNfe": { "type": "string" },
          "ccp": { "type": "string" },
          "ccpEmpresaPadrao": { "type": "string" },
          "cnpjEmpresaPadrao": { "type": "string" },
          "email": { "type": "string" },
          "cidade": { "type": "string" },
          "departamentoPesquisa": { "type": "string" },
          "listaDePermissoes": { "type": "string" },
          "listaDeViewsDoPrograma": { "type": "string" },
          "permissaoHabilitada": { "type": "boolean" },
          "isSetorPrivado": { "type": "boolean" },
          "isTocantins": { "type": "boolean" },
          "token": { "type": "string" },
          "usuarioMaster": { "type": "boolean" },
          "codigoCidade": { "type": "number" },
          "codigoGestaoPrefeitura": { "type": "number" },
          "siglaEstado": { "type": "string" },
          "nomeEmpresa": { "type": "string" },
          "isProdata": { "type": "boolean" },
          "is_senha_recuperada_email": { "type": "string" },
          "dataSenhaExpirada": { "type": "boolean" },
          "inscricaoMunicipalPadrao": { "type": "string" },
          "cgc_empresa": { "type": "string" },
          "listaDePermissoesDosModulos": { "type": "string" },
          "telasInativadas": { "type": "string" },
          "possuiMensagemNaoLida": { "type": "boolean" },
          "ccp_empresa_ranfs": { "type": "string" },
          "ccp_contribuinte_ranfs": { "type": "string" },
          "utilizarChat": { "type": "string" },
          "portaChat": { "type": "string" },
          "portaSocket": { "type": "string" },
          "utilizarSocket": { "type": "string" },
          "tempo_expiracao_sessao_usuario_minutos": { "type": "string" },
          "somente_supervisor_acessa_auditora": { "type": "string" },
          "ds_matricula": { "type": "string" },
          "visualizaDespachoSigiloso": { "type": "string" }
        }
      },
      "searchDebitos": {
        "type": "object",
        "properties": {
          "tipo_certidao": { "type": "number" },
          "tipo": { "type": "number" },
          "servico_cidadao_usuario_id": { "type": "number" },
          "somente_ativos": { "type": "boolean" },
          "tabela": { "type": "object" },
          "isConsultaText": { "type": "boolean" },
          "nomeTelaAtualAutocomplete": { "type": "string" },
          "descricaoModuloAtual": { "type": "string" }
        }
      },
      "dataSolicitacaoDinamicas": {
        "type": "object",
        "properties": {
          "idUsuario": { "type": "number" },
          "idConfig": { "type": "number" },
          "tipo": { "type": "string" },
          "observacao": { "type": "string" },
          "latitude": { "type": "number" },
          "longitude": { "type": "number" },
          "bairro": { "type": "number" },
          "logradouro": { "type": "string" },
          "quadra": { "type": "string" },
          "lote": { "type": "string" },
          "complemento": { "type": "string" },
          "anexos": { "type": "array" }
        }
      }
    }
  }
}
